* {
    box-sizing: border-box;
}

.contact {
    padding:3rem;
}
.contact-container {
    display:flex;
}
.contact-container-detail {
    display:flex;
    flex:2;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
}

.detail-wrapper {
    display:flex;
    align-items: center;
    background-color: #54150F;
    padding:2em;
    gap:2em;
    cursor: pointer;
    border-radius: 2em;
    transition: 0.75s ease;
}
.detail-wrapper p{
    font-size:1.5em
}
.detail-wrapper:hover {
    transform: scale(1.05);
}

.contact-container-send {
    display:flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    padding:1.5rem;
}

.contact-container-send .form {
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.input-form {
    background-color: transparent;
    color:gray;
    padding: 0.5rem;
    border-radius: 1.5rem;
}
button {
    background-color: red;
    color:white;
    font-weight: bold;
    padding:0.5rem;
    border-radius: 1.5rem;
}

@media screen and (max-width:700px) {
    .contact-container {
        flex-direction: column;
    }
    .detail-wrapper p{
        font-size: 12px;
    }
}