* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: Lexend;
}
h1,h2,h3,p {
    color:white;
}
#header {
    min-height: 60px;
    margin-left:5%;
    margin-right:5%;
    background-color:#131313;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: sticky;
    z-index: 1000;
    top:0;
}
#main {
    margin:5%;
}
#footer {
    width:100%;
    background-color: #131313;
}