* {
    box-sizing: border-box;
}
section {
    scroll-margin-top: 18vh;
}

/* home */
.home-container {
    padding-top:5%;
    display:flex;
    align-items: center;
    flex-direction:row;
}
.home-profile {
    flex:2;
    display:flex;
    flex-direction: column;
    gap:16px;
}
.home-box {
    display:flex;
    gap:0.5em;
}
.home-content {
    width: 25%;
    aspect-ratio: 1/1;
    border: 1px solid #131313;
    border-radius:10px;
    background-color: #131313;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-content:hover {
    background-color: #210A09;
    border: 1px solid #460802;
    transition: 500ms;
}

.home-button {
    display:flex;
    gap:20px;
}

.btn-hire {
    min-width: 20%; 
    aspect-ratio: 3/1;
    background-color:red;
    border-radius: 30px;
    font-weight:bold;
    transition: all 0.5s ease-out;
}
.btn-hire:hover {
    transform:scale(1.05);
}
.btn-cv {
    min-width: 20%;
    aspect-ratio: 3/1;
    border-radius: 30px;
    border: 2px solid red;
    
    font-weight: bold;
    color: white;
    cursor: pointer;
    
    background-image: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
    transition: all 0.5s ease-out;
    position: relative;
    overflow: hidden;
}

.btn-cv:hover {
    background-position: left bottom;
    
    color: #000000 !important; 
    text-shadow: 0px 0px 1px rgba(255,255,255,0.2);

    box-shadow: 
        0 0 15px #ff0000, 
        0 0 30px #ff4d4d;
    transform: scale(1.05);
}

.home-connection {
    display: flex;
    gap: 20px;
}
.home-connection-content {
    display:flex;
    width:7%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    transition: 0.75s ease-in-out;
    transform: 0.75s 0.2s;
}
.home-connection-content svg {
    width:70%;
    stroke:gray;
    pointer-events: none;
}

.home-connection-content svg path {
    stroke: gray;
    transition: 0.5s ease;
}

.home-connection-content:hover {
    border: 1px solid red;
    transform:translateY(-5px);
}

.home-connection-content:hover svg path {
    stroke: red;
}


.home-img {
    flex:1;
    background-color: green;
    width:100%;
    aspect-ratio: 1/1;
}
/* about me */
.about-me {
    margin-top: 10%;
}
.about-me-container {
    display:flex;
    justify-content: center;
}
.about-me-photo {
    flex:1;
}
.about-me-article {
    flex:2;
    display: flex;
    justify-content: center ;
    text-align:justify;
}
.about-me-article button {
    margin-top: 26px;
    background-color: transparent;
    border: 1px solid red;
    border-radius:16px;
    padding:16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
    background-image: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
    transition: all 0.5s ease-out;
    position: relative;
    overflow: hidden;
}
.about-me-article button:hover {
    background-position: left bottom;
    
    color: #000000 !important; 
    text-shadow: 0px 0px 1px rgba(255,255,255,0.2);

    box-shadow: 
        0 0 15px #ff0000, 
        0 0 30px #ff4d4d;
    transform: scale(1.05);
}

.about-me-detail {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap:16px;
    margin-top: 16px;
}
.about-me-detail-content {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #131313;
    align-items: center;
    padding:16px;
    border-radius:16px;
    transition: 0.75s ease;
}
.about-me-detail-content:hover {
    border: 1px solid red;
    transform:scale(1.03);
}
.about-me-detail-content-svg svg {
    stroke:red;
    fill:red;
    padding:12px;
}


/* service */
.service {
    margin-top:15%;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
    margin-top:36px;
}
.service-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    text-align: center;
    background-color: #131313;
    gap:24px;
    border:1px solid gray;
    border-radius:24px;
    transition: 0.75s ease-in-out;
    transform: 0.75s 0.2s;
}
.service-container-svg{
    width:15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    stroke:white;
}
.service-container:hover {
    border:1px solid red;
    transform:translateY(-10px);
}

/* latest project */
.project {
    margin-top:15%;
}

.project-grid {
    margin-top:5%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:24px;
}

.project-container {
    box-sizing: border-box;
    width:100%;
    aspect-ratio: 6/7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
}
.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%; 
    width: 50%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.4), 
        transparent
    );
    transform: skewX(-20deg); 
    transition: 0.7s;         
}
.project-container:hover {
    background-color: #ff0000;
    background-color: red;
    color: black;
    box-shadow: 
        0 0 15px #ff0000, 
        0 0 30px #ff4d4d, 
        0 0 60px rgba(255, 0, 0, 0.5);
    
    transform: scale(1.01);
}

.project-container:hover::before {
    left: 150%; 
}

.project-img {
    width:100%;
    flex:2;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    background-color: #1A1A1A;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-img img {
    width:80%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

.project-detail {
    width: 100%;
    flex:1;
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:28px;
    background-color: #131313;
    padding:20px;
}

/* skill */
.skill {
    margin-top: 15%;
}

.skill-grid {
    margin-top:5%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    gap:2rem
}
.skill-container {
    background-color: #131313;
    display:flex;
    align-items: center;
    padding:2rem;
    gap:1rem;
    border-radius:2rem;
    transition:0.75s ease
}

.skill-grid:hover .skill-container {
    filter: blur(4px);
    opacity: 0.5;
}


.skill-grid .skill-container:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.1); 
    background-color: #1A0805;
    border: 1px solid #441615;
    z-index: 10; 
}


/* general */
.project-language-container {
    width: 100%;
    display:flex;
    gap:8px;
    justify-content: center;
}
.project-language-content {
    width:24%;
    aspect-ratio: 2/1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #4F160E;
    border-radius: 24px;
    border:1px solid #7a160c;
}
.project-language-content p {
    color:#B12617;
    font-size:0.8em;
}

@media screen and (max-width:768px) {
    .body {
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    .home-container {
        flex-direction: column;
        gap:2rem;
    }
    .home-profile {
        flex:1;
    }
    .about-me-photo {
        display:none;
    }
    .article {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .project-language-content p {
        font-size:0.6rem;
    }
}